# database
DATABASE_URL=

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=

# Mercado Pago
MERCADOPAGO_ACCESS_TOKEN=
MERCADOPAGO_SECRET_KEY=
MERCADOPAGO_CLIENT_ID=
MERCADOPAGO_CLIENT_SECRET=
NEXT_PUBLIC_MERCADOPAGO_PUBLIC_KEY=
MERCADOPAGO_REDIRECT_URI=

# URL
NEXT_PUBLIC_BASE_URL=

# Other apps
SELLER_APP_URL=
BUYER_APP_URL=

# Testing (opcional)
NEXT_PUBLIC_TEST_SELLER_CLERK_ID=
